<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Portfolio personal</h1>
                <p>Desarrollar una aplicación web full stack, creando un portfolio web! Esta aplicación es de arquitectura distribuida y contiene un diseño de interfaz de usuario (front end) que muestra la información, una base de datos que almacena los datos y cuenta con las APIs necesarias para proveer a través de internet la información (back end).</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/portfolio.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
